<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Freelancer - Start Bootstrap Theme</title>
  

  <!-- Bootstrap core CSS -->
  <!-- <script src="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"></script> -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  "{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  "{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}"
  <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  "{{ url_for('static', filename='css/freelancer.min.css') }}"
  <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <h1 class="text-uppercase mb-0">Start Learning Spanish</h1>
      <hr class="star-light">
      <form method="post" enctype="multipart/form-data">
        <p>
          <!-- <input type="file" name="file"> -->
          <!-- <a href="/image"> <button>Show Image</button></a> -->

            <p><input type=file name=file accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
            <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
               <p><img id="output" width="200" /></p>
               <input id= "identity-btn" type=submit value=Identify>
        
               <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">

               <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p> -->
               <!-- <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
               <p><img id="output" width="200" /></p> -->
               
               <script>
               var loadFile = function(event) {
                   var image = document.getElementById('output');
                   image.src = URL.createObjectURL(event.target.files[0]);
               };
               </script>









      </p>
      <p>
        <img src={{file}}>
      </p>
      </form>
      <a href="/"> <button>Reset</button></a>
    </div>
  </header>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <div>{{ data }}</div>

  <script>
    var translation = '{{ data }}';
  </script>

<table border="1">
  <thead>
    <tr>
      <th colspan="4" bgcolor="#ccc">Translation</th>
    </tr>
    <tr>
      <th>English</th>
      <th>Spanish</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{data.predictions[0]}}</td>
      <td>Tim</td>
    </tr>









<!-- <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script> -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
